.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
        font-size: 14px;
        font-weight: 600;
    }

    .inputWrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    input {
        padding: .6rem 1rem;
        border: .5px solid #878787;
        font-size: 14px;
        border-radius: 6px;
        transition-duration: .3s;
        outline: .5px solid transparent;
        width: 100%;

        &:focus {
            outline: 1.5px solid black;
        }
    }

    .togglePassword {
        position: absolute;
        right: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .error {
        color: red;
        font-size: 12px;
        margin-top: 4px;
    }
}

.submitButton {
    margin-top: 1rem;
    width: 100%;
    background: #053BA6;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: .4rem 0;
    border: 1px solid transparent;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
}
